.card {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    right: 50px;
    top: 355px;
    bottom: 300px;
    width: 400px;
    height: 200px;
}