#login-form {
  display: flex;
  flex-direction: row;
  max-width: 50em;
}

input {
color: white !important;
border-color: white !important;
}
  
.MuiOutlinedInput-notchedOutline {
  border-color: white !important;
}

.MuiFormLabel-colorSecondary {
  color: white !important;
}
