.createMessage {
    margin-left: 3%;
}

h2 {
    color: black;
}

.postButton {
    display: flex;
    /* flex-direction:; */
}

.MuiFormControl-root {
    width: 25%;
    margin-left: 3% !important;
}